<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <client>
          <!--Enpoint para ConsultarService-->
            <endpoint address="net.tcp://localhost:8713/ConsultarService"
                binding="netTcpBinding" bindingConfiguration="" contract="BattlesharpInterfaces.IConsultarService"
                name="ConsultarServiceEndpoint" kind="" endpointConfiguration="" />
          <!--Enpoint para RegistrarService-->
            <endpoint address="net.tcp://localhost:8713/RegistrarService"
                binding="netTcpBinding" bindingConfiguration="" contract="BattlesharpInterfaces.IRegistrarService"
                name="RegistrarServiceEndpoint" kind="" endpointConfiguration="" />
          <!--Enpoint para PartidaService-->
            <endpoint address="net.tcp://localhost:8713/PartidaService" binding="netTcpBinding"
                bindingConfiguration="" contract="BattlesharpInterfaces.IPartidaService"
                name="PartidaServiceEndpoint" kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>