<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <connectionStrings>
    <add name="BattlesharpEntities" connectionString="metadata=res://*/BattlesharpEntityModel.csdl|res://*/BattlesharpEntityModel.ssdl|res://*/BattlesharpEntityModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=battlesharp;password=battlesharp;persistsecurityinfo=True;database=battlesharp&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
    <system.serviceModel>
        <services>
          
            <service name="BDDService.ConsultarService">
                <endpoint address="net.tcp://localhost:8713/ConsultarService"
                    binding="netTcpBinding" bindingConfiguration="" name="ConsultarServiceEndpoint"
                    contract="BattlesharpInterfaces.IConsultarService" />
            </service>
          
            <service name="BDDService.RegistrarService">
                <endpoint address="net.tcp://localhost:8713/RegistrarService"
                    binding="netTcpBinding" bindingConfiguration="" name="RegistrarServiceEndpoint"
                    contract="BattlesharpInterfaces.IRegistrarService" />
            </service>
          
            <service name="JugarService.PartidaService">
                <endpoint address="net.tcp://localhost:8713/PartidaService" binding="netTcpBinding"
                    bindingConfiguration="" name="PartidaServiceEndpoint" contract="BattlesharpInterfaces.IPartidaService" />
            </service>
        
        </services>
    </system.serviceModel>
</configuration>